{% extends 'base.html.twig' %}

{% block title %}Startseite{% endblock %}

{% block body %}

    <header class="page-header text-center">
        <div class="row">
            <div class="col-xs-12">
                <h1>Videoportal der Technischen Hochschule Brandenburg</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12">
                <p>Hier finden Sie Video zu Lehrinhalten und darüber hinaus.</p>
                {% if is_granted('ROLE_USER') %}
                    <a href="#" class="btn btn-primary btn-xl">Zu den Videos</a>
                {% else %}
                    <a href="{{ path('login') }}" class="btn btn-primary btn-xl">Anmelden</a>
                    <a href="{{ path('registration') }}" class="btn btn-primary btn-xl">Registrieren</a>
                {% endif %}
            </div>
        </div>
    </header>

{% endblock %}