{% extends 'base.html.twig' %}

{% block title %}Kurse{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <h2>Kurse</h2>
        </div>
        <div class="col-xs-12 col-sm-6">
            {% if is_granted('ROLE_LECTURER') %}
                <a class="btn btn-default pull-right" href="{{ path('newLecture') }}">
                    <i class="fa fa-list"></i> Vorlesung anlegen
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}