{% extends 'base.html.twig' %}

{% block title %}Anmeldung{% endblock %}

{% block body %}
    <section class="row">
        <aside class="col-md-4 col-md-push-8">
            {% include 'security/login-panel.html.twig' %}
        </aside>
    </section>

{% endblock %}